.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title {
  color: white;
}

body {
  background-image: url("https://getaway-vacations.com/wp-content/uploads/2016/11/vermont-snowboarding-min-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  background: #00296b;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.divItem {
  padding: 10px;
  text-decoration: none;
  color: white;
}

.footer {
  background: #00296b;
  position: fixed;
  height: 10px;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 10px;
}

.grid-container-profile {
  display: grid;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 2px;
  grid-template-columns: 1fr;
  background-color: #e63bbe;
  align-items: center;
  width: 25%;
  padding: 20px 20px 20px 20px;
  margin: 20px 20px 20px 20px;
}

.profile-btn {
  text-decoration: none;
  padding: 10px;
  border: none;
}
